{% extends "layout.html" %}
{% block title %}Annotation{% endblock %}

{% block body %}

<div class="annotator">
    <h2 class="title">
        Annotator
    </h2>

    <div class="mainbox">
        <div class="statusbox">
            <h2 class="title">
                Status Box
            </h2>
        </div>

        <div class="imagebox">
            <h2 class="title">
                Image Box
            </h2>
        </div>
    </div>
    <div class="btn">
        <button class="btn"> Save </button>
        <button class="btn"> Finish </button>
    </div>
</div>
{% endblock %}