/*
 Button Setting
*/

.btn {

    width:auto;
  
    background-color: #585555;
  
    border: none;
  
    color: white;
  
    padding: 6px 6px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 15px;
  
    margin: 4px;
  
    cursor: pointer;
  
    border-radius:10px;
  
  }
  
  .btn:hover {
    background-color: gray;
  }
  
  .logo_btn {

    background-color: #2B2B2B;
  
    border: none;
    
    color:#fff;
  }