body{
    border:2px solid red;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    color: #aaaaaa;
}

ul{
    list-style: none;
    display: table;
    margin: auto;
    align-items: center;
    padding-inline-start: 0%;
}

li{
    /* border:2px solid green; */
    color: yellowgreen; 
    float: left;
    margin-left: 20px;
    text-align : center;
}

.menu{
    position: absolute;
    border: 4px solid blue;
    text-align: center;
}

.title{
    /* position: relative; */
    border: 4px solid orange;
    /* float: left; */
    display: table;
    margin-left: auto; 
    margin-right: auto;
}

.box1{
    border: 2px solid black;
    text-align: center;
    padding: 40px; /*위 아래 조절*/
    margin: 100px; /* 네 방향 전제 마진*/
    width: 100px;
    height: 150px;
}