<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {# <script src="{{ url_for('static', filename='jquery.js') }}"></script> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    {# comment #}

    {# 
        comment
        block
    #}

    {% set group = 'Vision & A.I Study' %}

    {% set cnt = 100 %}

    <p>Name: {{ name }}</p>

    <p>Nickname: {{ nick }}</p>

    <p>Age: {{ age }}</p>

    <p>Group: {{ group }}</p>

    {# if statement #}
    <h1> if statement </h1>
    <div class="box1">
            <h3> Basic </h3>
            {% if condition_1  %}
                <p> Condition_1 is True</p>

            {% elif condition_2  %}
                <p> Condition_2 is True</p>

            {% else %}
                <p> No Condition </p>

            {% endif %}
    </div>  
    <h3> Inline if statement </h3>
    <p>{{ "If statement without %" if not condition_1 }}</p>

    <p>{{ "Variable cnt is greater than 50" if  cnt > 50 }}</p>

    {# Compare using first string #}
    <p>{{ "Variable name is greater than Variable nick" if name > nick else "Variable nick is greater than Variable name" }}</p>

    <h3> Using dictionary </h3>
    {% if "Flask" in ["Django", "web2py", "Flask"] %}
        <p>Flask is in the dictionary</p>
    {%  endif %}


    {# for loop #}
    <h1> for loop </h1>

    <h3> Basic </h3>
    {% set framework_list = ['TensorFlow', 'PyTorch', 'MXNet'] %}

    {% for framework in framework_list %}
        <li>{{ framework }}</li>
    {% endfor %}

    <ul>
        {% for framework in framework_list %}
        <li>{{ framework }}</li>
        {% endfor %}
    </ul>

    <h3> Using dictionary </h3>
    {% set info = { "name": name, "nick": nick, "age": age } %}

    <ul>
        {% for key, val in info.items() %}
            <li>{{ key }} : {{ val }}</li>
        {% endfor %}
    </ul>

    <h3>for & else</h3>
    {% set user_list = [] %}
 
    <ul>
    {% for user in user_list  %}
        <li>{{ user }}</li>
    {% else %}
        <li>user_list is empty</li>
    {% endfor %}
    </ul>
    
    <h3> Using index of loop </h3>
    <ul>
        {% for framework in framework_list  %}
            <li>{{ loop.index }} - {{ framework }}</li>
        {% endfor %}
    </ul>

    {# Filters #}

    <h1> Filters </h1>

    <h3> Basic </h3>

    <p> title: "dust in the wind" --> {{ "dust in the wind"|title }}</p>

    <p> round(2): 5.3266 --> {{ 5.3266|round(2) }}</p>

    <p> upper: "jerry" --> {{ "jerry"|upper }}</p>

    <p> lower: "JERRY" --> {{ "JERRY"|lower }}</p>

    <p> capitalize: "jerry" --> {{ "jerry"|capitalize }}</p>

    <p> length: "jerry" --> {{ "jerry"|length }}</p>

    <p> random: "jerry" --> {{ "jerry"|random }}</p>



    {# Macros #}

    <h1> Macros </h1>

    {# Escaping #}

    <h1> Escaping </h1>

    <h3> Basic </h3>

    {% set html = "<p>Escaping in Jinja</p>" %}
    {{ html|escape }}

    
    {# Including templates #}

    <h1> Including templates </h1>

    <p1> {{ "{% include 'path/to/template' %}"|escape }} </p1>


    {# Template Inheritance #}

    <h1> Template Inheritance </h1>

    {% extends 'base.html' %}
 
    {% block title %}
        Child Title 
    {% endblock %}
    
    {% block nav %}
        {{ super() }} {# referring to the content in the parent templates #}
        <li><a href="/contact">Contact</a></li>
        <li><a href="/career">Career</a></li>
    {% endblock %}
    
    {% block content %}
        {% for bookmark in bookmarks %}
            <p>{{ bookmark.title }}</p>
        {% endfor %}
    {% endblock %}

</body>
</html>