<body>
    <div class="container">
        <div class="rtow justify-content-center">
            <div class="table-title">
                <a href="/"> Go to Home </a>
            </div>
            <div class="col-1">
                <h6 class="col-1-title"> Contact </h6>
                <ul class="row-list">
                    <li class="row-element"><a class="text-dark" href="tel:Top%20Secret"><i class="ti-mobile mr-3 text-primary"></i>Top Secret</a></li>
                    <li class="row-element"><i class="ti-location-pin mr-3 text-primary"></i>Seoul, Korea of Republic</li>
                    <li class="mb-3"><a class="text-dark" href="mailto:jaeyeol2931@gmail.com"><i class="ti-email mr-3 text-primary"></i>jaeyeol2931@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>