{% extends "layout.html" %}
{% block content %}

  <div class="Block_1">
    <h2>EmoNet: Emotion Detection<h2>
    <h3>This is the test page for my Flask app<h3>
  </div>

  <div class="Block_2">
    <h3> Button List </h3>
    <h3>
      <div class="btn_lists">
        <!-- Basic Button -->
        <button>Basic Button</button>

        <!-- Custom Button without Function -->
        <button class="btn" >Custom Button (Without Func)</button>

        <!-- Custom Button with Function -->
        <button class="btn" onclick="alert('Clicked!')">Custom Button (With Func)</button>
      </div>
    </h3>
  </div>

{% endblock %}